@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap");

:root {
  --crimson-pro: "Crimson Pro", serif;
  --lora: "Lora", serif;
  --montserrat: "Montserrat", sans-serif;
  --primary-color: hsla(0, 0%, 100%, 1);
  --secondary-color: #828282;
  --icon-color: #f2f2f2;
  --footer-color: hsla(0, 0%, 66%, 1);
  --background-color: hsla(270, 4%, 9%, 1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  position: relative;
  background-color: var(--background-color);
}
.wrap {
  padding: 0 0.75rem;
  padding-bottom: 1rem;
}
.wrap__header {
  margin-top: 1.1875rem;
}

.wrap__header__icon {
  position: absolute;
  right: 0.7813rem;
  top: 0.5rem;
  color: var(--icon-color);
  text-decoration: none;
}
.wrap__header__text {
  width: fit-content;
  font-family: var(--crimson-pro);
  font-size: 0.875rem;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--primary-color);
  border: solid var(--primary-color) 1px;
  padding: 0.5rem;
  margin-bottom: 2.375rem;
}
.wrap__title {
  font-family: var(--lora);
  font-size: clamp(2.25rem, 1.986rem + 1.127vw, 3rem);
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 1.5625em;
}
.wrap__paragraph {
  font-family: var(--montserrat);
  font-size: clamp(0.875rem, 0.655rem + 0.939vw, 1.5rem);
  font-weight: 400;
  color: var(--primary-color);
  width: clamp(15.625rem, 8.482rem + 19.048vw, 25.625rem);
  margin-bottom: 1.5625em;
}
.wrap__read--more {
  display: inline;
  font-family: var(--montserrat);
  font-size: clamp(0.875rem, 0.787rem + 0.376vw, 1.125rem);
  font-weight: 700;
  color: var(--primary-color);
  margin-bottom: 1.625em;
  margin-right: 0.9375em;
}
.wrap__arrow {
  display: inline;
  color: var(--primary-color);
}
.wrap__image {
  width: clamp(21.875rem, 11.972rem + 42.254vw, 50rem);
  margin-top: 1.5625rem;
}
.wrap__profile {
  position: relative;
  left: 11%;
  background-color: var(--background-color);
  width: clamp(18.75rem, 16.329rem + 10.329vw, 25.625rem);
  height: fit-content;
  padding-top: 0.875rem;
  padding-left: 1.4375rem;
  box-shadow: 0 4px 4px hsla(0, 0%, 0%, 0.25);
  transform: translate(0, -40%);
}
.wrap__profile__infos {
  display: flex;
  align-items: center;
  margin-bottom: 1.125rem;
}
.wrap__profile__infos__image {
  width: clamp(2.313rem, 2.026rem + 1.221vw, 3.125rem);
  margin-right: 0.875rem;
  border-radius: 50%;
}
.wrap__profile__infos__name--job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrap__profile__infos__name--job__name {
  font-family: var(--montserrat);
  font-size: clamp(0.75rem, 0.706rem + 0.188vw, 0.875rem);
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 0.3125rem;
}
.wrap__profile__infos__name--job__job {
  font-family: var(--montserrat);
  font-size: clamp(0.625rem, 0.581rem + 0.188vw, 0.75rem);
  font-weight: 500;
  color: var(--secondary-color);
}
.wrap__profile__paragraph {
  font-family: var(--lora);
  font-size: clamp(1.125rem, 0.993rem + 0.563vw, 1.5rem);
  font-weight: 700;
  color: var(--primary-color);
  width: 13.125rem;
  margin-bottom: 2.125rem;
}
.footer {
  font-family: var(--montserrat);
  font-size: 0.875rem;
  font-weight: 700;
  position: absolute;
  bottom: 24px;
  width: 100%;
  text-align: center;
  color: var(--footer-color);
}
.footer a {
  color: var(--footer-color);
}
.wrap__header__nav {
  background-color: var(--background-color);
  height: 48.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wrap__header__nav__link {
  font-family: var(--montserrat);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--primary-color);
  margin-bottom: 2rem;
}
.wrap__header__nav__link:not(:first-child) {
  text-decoration-line: none;
}
.hide {
  display: none;
}
@media screen and (min-width: 36.25rem) {
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrap__profile {
    left: 5%;
  }
}
@media screen and (min-width: 50rem) {
  .wrap {
    padding: 0 4.8125rem;
  }
  .wrap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2.625rem;
    margin-bottom: 2rem;
  }
  .wrap__header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: fit-content;
  }
  .wrap__header__icon {
    display: none;
  }
}
@media screen and (min-width: 81.25rem) {
  .wrap {
    padding-bottom: 8rem;
  }
  .wrap__title,
  .wrap__paragraph,
  .wrap__read--more--arrow {
    align-self: flex-start;
  }
  .wrap__header {
    margin-bottom: 19.1875rem;
  }
  .wrap__title {
    margin-bottom: 2.5rem;
  }
  .wrap__image {
    position: absolute;
    top: 14.375rem;
    right: 3.125rem;
  }

  .wrap__profile {
    left: 30%;
    top: 110px;
  }
}
@media screen and (min-width: 100rem) {
  html {
    font-size: 22px;
  }
}
